{% extends "element/base.html" %}
{% block content %}
<h1>Image Conversion</h1>
<form method="post" enctype="multipart/form-data">
    <div class="col-12">
        <ul class="actions">
            <li>
                <label for="file">
                    <span class="button primary icon solid fa-upload">file</span>
                    <input type="file" name="file" id="file" style="display: none;">
                </label>
            </li>
            <li><input type="submit" value="upload"></li>
        </ul>
    </div>
</form>
{% if in_img and out_img %}
    <div class="box alt">
        <div class="row gtr-uniform">
            <div class="col-8">
                <h2>Input image</h2>
                <span class="image fit"><img src="{{ url_for('image.send_file', filename=in_img) }}"></span>
            </div>		
            <div class="col-4">
                <h2>Ouput depth-map</h2>
                <span class="image fit"><img src="{{ url_for('image.send_file', filename=out_img) }}"></span>
            </div>
            <div class="col-8"></div> <!-- 공백 -->
		    <h2>density : </h2>
        </div>
    </div>    
{% endif %}
{% endblock %}