{% extends 'element/base.html' %}
{% block content %}
<h1>Video List</h1>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Location</th>
                <th>Camera</th>
                <th>Statistic</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Gamel</td>
                <td><a href="/video/1/cam" class="button primary fit">click</a></td>
                <td><a href="/video/1/stat" class="button fit">click</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Loc</td>
                <td><a href="/video/2/cam" class="button primary fit">click</a></td>
                <td><a href="/video/2/stat" class="button fit">click</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}