{% extends 'element/base.html' %}
{% block content %}
<h1>Video List</h1>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>no</th>
                <th>Id</th>
                <th>Camera</th>
                <th>Statistic</th>
            </tr>
        </thead>
        <tbody>
            {% if id_list %}
            {% for id in id_list %}
            <tr class="text-center">
                <td>{{ loop.index }}</td>
                <td>{{ id }}</td>
                <td><a href="/video/{{ id }}/cam" class="button primary fit">click</a></td>
                <td><a href="/video/{{ id }}/statistics" class="button fit">click</a></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">No Data ()</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}