{% extends 'element/base.html' %}
{% block content %}
<h1>Video Streaming (for client)</h1>
<p>Run the code for video streaming</p>
<h2>code</h2>
<pre><code>
    import time
    import cv2
    import requests
    
    cap = cv2.VideoCapture(0)
    
    while True:
        time.sleep(2)
        ret, frame = cap.read()  # frame 읽기
        if ret:
            # encoding
            gray = cv2.cvtColor(frame, cv2.COLOR_RGB2GRAY)
            _, encoded = cv2.imencode('.jpg', gray, params=[cv2.IMWRITE_JPEG_QUALITY, 10]) # jpeg 10%
            byted = encoded.tobytes()
    
            # send to server
            response = requests.post('http://localhost:5000/video/stream', data=byted)
    
            # quit
            if cv2.waitKey(1) & 0xFF == ord('q'):
                break
    
    cap.release()

</code></pre>
<h2>requirements</h2>
<pre><code>
    python=3.9.19
    requests=2.31.0
    opencv=4.6.0

</code></pre>
{% endblock %}