{% extends 'element/base.html' %}
{% block content %}
<h1>Developers</h1>
<h2>Geonyong Yoon</h2>
<blockquote>
    201904020, student of Korean Bible University, major in Computer Software 
</blockquote>
<p>
    I have a keen interest in pursuing a graduate degree in artificial intelligence. 
    In this project, I took the initiative to propose the topic of crowd detection and contributed to the development of the initial web server prototype. 
    Additionally, I played a pivotal role in refining the MCNN model, a deep learning model, by integrating it with federated learning techniques. 
    My responsibilities also included training and fine-tuning the model to achieve optimal performance. 
    I'm passionate about leveraging AI to address real-world challenges and am excited to continue exploring innovative solutions in the field.
</p>
<h2>Juchan Lee</h2>
<blockquote>
    202101031, student of Korean Bible University, major in Computer Software
</blockquote>
<p>
    I have a strong affinity for linear algebra within the realm of artificial intelligence. 
    For this project, I took on the responsibility of developing the web server, utilizing Flask to implement its functionalities and crafting the user interface. 
    I implemented features to capture and display video streams in real-time on the web server. 
    Additionally, I played a crucial role in the early stages of optimizing the model architecture and writing test code to ensure the reliability of our system. 
    I'm enthusiastic about applying AI technologies to create user-friendly solutions and am committed to enhancing the user experience through intuitive interfaces and seamless functionality.
</p>
{% endblock %}