{% extends 'element/base.html' %}
{% block content %}
<h1>Developers</h1>

<p>
	<strong>Juchan Lee</strong><br>
	Korean Bible University, major in Computer Software
</p>
<ol>
	<li>model(MCNN) application</li>
	<li>Density map -> Density point</li>
	<li>Density map -> KDE(Kernel size based Density Estimation) Metrics</li>
	<li>web server development (flask app, InfluxDB, websocket, GCP)</li>
</ol>

<p>
	<strong>Geonyong Yoon</strong><br>
	Korean Bible University, major in Computer Software
</p>
<ol>
	<li>Analysis and preparation of AI models for crowd counting</li>
	<li>model training</li>
	<li>reference guide creation</li>
</ol>
{% endblock %}