{% extends 'element/base.html' %}
{% block content %}
<h1>Model</h1>

<p>
    <strong>MCNN</strong></br>
    Multi-column CNN, converting image to density map.
</p>
<img src="{{ url_for('static', filename='images/info/MCNN.png') }}" width="700"><br/><br/>

<p>
    <strong>Density Map</strong></br>
    an image, representing the probability of a person's presence.
</p>
<img src="{{ url_for('static', filename='images/info/density_map.png') }}" width="700"><br/><br/>

<p>
    <strong>Density Point</strong><br>
    x, y coordinates of points, where person is expected to be located.
</p>
<img src="{{ url_for('static', filename='images/info/density_point.png') }}" width="700"><br/><br/>
<pre>
    # local maxima (maximum & median filter)
    def density_point(self, dm):
        maxmask = cv2.dilate(dm, np.ones((3,3)), iterations=4)
        medmask = cv2.medianBlur(dm, ksize=3)
    
        maxima = (dm == maxmask)
        med = (dm >= medmask + 0.025)
        y, x = np.nonzero(maxima & med)
    
        return x, y    
</pre>
<img src="{{ url_for('static', filename='images/info/density_point_logic.png') }}" width="700"><br/><br/>

<p>
    <strong>Density (Kernel size based Density Estimation)</strong><br>
    Density Metrics based on the increase in the number of people according to the kernel size.
</p>
<img src="{{ url_for('static', filename='images/info/density_point.png') }}" width="700"><br/><br/>
<pre>
    # difference of the number of people (by kernel size)
    def density(self, dm):
        nums = []
    
        for i in range(2, 7):
            kernel = np.ones((i, i))
            maxmask = cv2.dilate(dm, kernel, iterations=3)
            medmask = cv2.medianBlur(dm, ksize=3)
    
            maxima = (dm == maxmask)
            med = (dm >= medmask + 0.025)
            y, x = np.nonzero(maxima & med)
    
            nums.append(len(y))
    
        diffs = np.diff(nums)
        den = round(abs(np.mean(diffs)), 2)
    
        return den    
</pre><br><br>

<strong>density, Low - High</strong><br>
<img src="{{ url_for('static', filename='images/info/KDE_L.png') }}" width="550">&nbsp;&nbsp;
<img src="{{ url_for('static', filename='images/info/KDE_H.png') }}" width="580"><br/><br/>

<strong>Sparse - Dense</strong><br>
<img src="{{ url_for('static', filename='images/info/KDE_CP1.png') }}" width="550">&nbsp;&nbsp;
<img src="{{ url_for('static', filename='images/info/KDE_CP2.png') }}" width="580"><br/><br/>
{% endblock %}