{% extends 'element/base.html' %}
{% block content %}
<h1>Web Site</h1>
<p>
    <strong>TSDB (InfluxDB)</strong><br>
    Time Series DataBase, optimized for Time Series Data
</p>
<ol>
    <li><strong>Speed</strong>: Time-Structured Merge Tree (TSM), Shard (memory)</li>
    <li><strong>Space</strong>: Down sampling, Retention policy (auto deleting)</li>
    <li><strong>Precision</strong>: micro-sec or nano-sec</li>
</ol>

<p>
    <strong>Web Socket (socketio)</strong>
</p>
<ol>
    <li><strong>Full-Duplex</strong>: Simultaneous Two-way communication (Client <-> Server)</li>
    <li><strong>Low Latency</strong>: Persistent connection, without overhead (Handshakes)</li>
</ol>

<p>
    <strong>GCP (Google Cloud Flatform)</strong><br>
    Google Cloud Flatform, deploying ‘Crowded’ web server
</p>
{% endblock %}